.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(115deg, rgba(0, 0, 0, 0) 0%, rgba(14, 14, 14, 1) 43%, rgba(0, 0, 0, 1) 100%);
  width: 100%;
  height: 100%;
  opacity: 0.93;
}

.carousel-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-end;
  padding: 7rem;
  z-index: 3;
}

.movie-overlay {
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  transition: all .3s ease;
}

.movie-card:hover .movie-overlay {
  opacity: 0.9;
}

.movie-content {
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  transition: all .3s ease;
  z-index: 6;
  opacity: 0;
  transform: translateY(10px);
}

.movie-card:hover .movie-content {
  opacity: 1;
  transform: translateY(0);
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
  z-index: 10;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}